Django==1.5
Fabric==1.5.2
Markdown==2.2.1
PIL==1.1.7
South==0.7.6
boto==2.6.0
distribute==0.6.32
dj-database-url==0.2.1
django-boto==0.1.6b
django-markdown==0.2.0
gunicorn==0.14.6
html2text==3.200.3
mailsnake==1.6.1
newrelic==1.5.0.103
paramiko==1.9.0
psycopg2==2.4.5
pycrypto==2.6
requests==0.14.2
simplejson==2.6.2
wsgiref==0.1.2
yubico==1.6.0
sse==1.2
django-sse==0.4.1
redis==2.7.5