<!DOCTYPE html>
<!--[if IE 8 ]>    <html class="ie8" lang=""> <![endif]-->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Medical Intelligence</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="/static/css/mi_scrolling.css" media="all" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body>
<div id="scrolling">
    <div id="main">
        <div id="mainContent">
            <div id="logo" class=""><a href="/"><img src="static/img/big-logoMI.png" alt="" /></a></div>
            <div class="panel-content" style="padding: 20px">
                    <h3>Thank you!</h3>
                    <p>Your email has been added to our list. You will be notified soon!</p>
                 <p></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>