<!doctype html>
{% load medint %}
<html>
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/static/css/queryLoader.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,400italic' rel='stylesheet' type='text/css'>
    <script type='text/javascript' src='/static/js/queryLoader.js'></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/knockout-2.2.1.js"></script>
    <script src="/static/js/jscrollpane.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.mousewheel.js" type="text/javascript"></script>
    <script src="/static/js/sammy.min.js"></script>
    <script src="/static/js/medint.js"></script>
    <link rel="stylesheet/less" type="text/css" href="../static/css/medint.less" />
    <link rel="stylesheet/less" type="text/css" href="../static/medint/css/styles.less" />
    <link rel="stylesheet/less" type="text/css" href="../static/messaging/css/styles.less" />
    <script src="/static/js/less.js" type="text/javascript"></script>
    <script src="/static/js/spinr.js" type="text/javascript"></script>
    <script src="/static/js/toastr.js" type="text/javascript"></script>
    <script src="/static/js/shadowbox.js"></script>
    <script type="text/javascript">
     var boxInitialize = function(){
    try {
        if (!Shadowbox.initialized) {
            Shadowbox.init();
            Shadowbox.initialized = true;
        } else {
            Shadowbox.clearCache();
            Shadowbox.setup();
        }
    } catch(e) {
        try {
            Shadowbox.init();
        } catch(e) {};
    }
};boxInitialize();
        Shadowbox.setup('a.external');
    </script>

</head>
<body>
<div id="header" class="hidden">
    <div id="logoTop"><a href="#main" id="btn-MI"><img src="../static/img/dashboard/logo-MI.png" alt="" /></a></div>
    <div class="mainMenu hide" id="main-nav">
        {% block topmenu %}
        {% endblock %}

    </div>
    <div id="headerctRight">
        {% userinfo user %}
    </div>
</div>

<div id="content" class="hidden">
    <div id="generalViewer" class="full">
        <section class="ui-panel" id="main">
            <div class="iconLists">
                {% block mainmenu %}
                {% endblock %}
            </div>
        </section>
        {% block content %}
        {% endblock %}


    </div>
</div>
</body>
<script src="/static/js/dot.min.js"></script>
<script src="/static/js/ko.dot.js"></script>
<script src="/static/js/knockout-delegatedEvents.min.js"></script>
<script src="/static/js/appMI.js" type="text/javascript"></script>
<script src="/static/patientlist/js/grid.js" type="text/javascript"></script>
<script src="/static/patientlist/js/functions.js" type="text/javascript"></script>
<script src="/static/messaging/js/messages.js"></script>
<script src="/static/socialprofile/js/profiles.js"></script>
<script src="/static/account/js/account.js" type="text/javascript"></script>

<script type='text/javascript'>
    $("body").queryLoader2();
    function Docoment(data) {
        this.state = ko.observable(data.state);
        this.title = ko.observable(data.title);
        this.date = ko.observable(data.date);
    }

    function DocumentsModel(){
        //console.log("ds doc");
        var self = this;
        self.documents = ko.observableArray([]);
        self.dd = ko.observableArray([
            {"date": "01.01.2013", "title": "Contract", "state":"new"}
        ]);

        $.getJSON('/static/include/documents.json', function(json){

            var docs = $.map(json.data, function(item) { return new Docoment(item) });
            self.dd(docs);
        });


    }

    ko.applyBindings(new DocumentsModel(), $('#document-list')[0]);


    function pageModel (){
        var self = this;
        self.currentSection = 'main';

        function openSection(section){
            if (section !== self.currentSection){
                if(section == "main" || section == ""){
                    $('#main-nav').fadeOut();
                } else{
                    $('#main-nav').fadeIn();
                }
                $('#main-nav #btn-'+self.currentSection).removeClass('active');
                $('#main-nav #btn-'+section).addClass('active');
                $('.ui-panel').fadeOut(500);
                $('#' + section).fadeIn();
            }
            self.currentSection = section;
        }

        Sammy(function() {
            this.get('#:part', function() {
                openSection(this.params.part)
            });
        }).run();
    }
    ko.applyBindings(new pageModel(), $('#main-nav')[0]);
    $('#header,#content').removeClass("hidden");
</script>


</html>